/dota_localization_changer/__pycache__
.log
/build
/dist
dota_localization_changer/output
/.venv/
lazygit.exe
/.vscode/
dota_localization_changer/data/abilities_russian.txt
poetry.lock
compiler_config.json