/dota_localization_changer/__pycache__
.log
/build
/dist
/.venv/
lazygit.exe
/.vscode/
dota_localization_changer/data/abilities_russian.txt
poetry.lock
*.vpk
dota_localization_changer/output
dota_localization_changer/default_data